@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
}
header{
    width: 100%;
    height: 70px;
    background-color: #101010;
    box-shadow: 0px 5px 20px #000;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.menu li a{
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 10px;
    padding: 0px 20px 10px 20px;
    border-radius: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
h1{
    color: #fff;
    text-align: center;
    margin: 20px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.container div {
    flex: 1 1 300px;
    margin: 10px;
}
img{
    width: 100%;
    border-radius: 10px;   
}
